<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeepNestLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DeepNestLib.Properties.Settings>
            <setting name="PopulationSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MutationRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Simplify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Spacing" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PlacementType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveAsFileTypeIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SheetWidth" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="SheetHeight" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="SheetQuantity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CurveTolerance" serializeAs="String">
                <value>0.72</value>
            </setting>
            <setting name="OffsetTreePhase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClipByHull" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawSimplification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseParallel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StrictAngles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Multiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowPartPositions" serializeAs="String">
                <value>True</value>
            </setting>
        </DeepNestLib.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
