<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IxMilia.Dxf" version="0.8.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.10.56" targetFramework="net48" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
</packages>